<div class="container-q">
  <div class="bg-white" *ngIf="animal$ | async as animal">
    <div class="row">
      <div class="col picture">
        <app-animal
          [url]="animal.url"
          [descricao]="animal.description"
        ></app-animal>
      </div>
      <div class="col-lg-6 details">
        <small>
          <p class="text-left break-word">{{ animal.description }}</p>
          <div class="icons">
            <i
              (click)="curtir()"
              class="fa-solid fa-heart-o fa-2x mr-2 pull-left"
              >{{ animal.likes }}</i
            >
            <i class="fa-solid fa-comment-o fa-2x mr-2 ml-2">{{
              animal.comments
            }}</i>
            <i (click)="excluir()" class="fa fa-trash-o fa-2x pull-right"></i>
          </div>
        </small>

        <app-comentarios
          [id]="animalId"
          *ngIf="animal.allowComments; else warning"
        ></app-comentarios>

        <ng-template #warning>
          <p>Usuário não pode comentar o animal</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
