*{
  background-color: transparent !important;
}

.text-left {
  margin-bottom: 20px !important;
  margin-top: 20px;
  word-break: break-all;
}

.icons {
  margin-bottom: 20px;
  color: black;
}

@media screen and (min-width: 970px) {
  .container-q {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 10%;
  }

  .picture {
    margin-top: 30px;
  }

}
