.li {
  color: black;
  font-weight: 700;
  font-size: 18px;
}

li {
  margin-top: 10px;
}

.oth {
  color: #05887d;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: black;
}

.bg-white {
  background-color: #03b4a4 !important;
}

.logo {
  margin: 0 auto;
}

.res {
  float: right;
}

img {
  width: 400px;
}

.log a {
  text-decoration: none;
  color: white;
}

.fra {
  background-color: #02a799;
  padding: 9px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.267);
  font-size: 18px;
  border-radius: 10%;
  cursor: pointer;
}

.login {
  margin-left: 105px;
}

.minwi {
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  border-bottom: 1px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-style: solid;
  border-color: #00776dc4;
  box-shadow: 0 0 0.2em rgb(0, 0, 0);
}

.men {
  cursor: pointer;
  float: left;
}

@media screen and (min-width: 900px) {
  .logo {
    margin: 0 auto;
    position: relative;
    left: 65px;
  }
}

@media screen and (max-width: 900px) {
  .res {
    width: 110px;
  }

  .res a {
    font-size: 15px;
  }

  .fra {
    position: relative;
    float: left;
    top: 10px;
    margin: 0 10px 10px 0;
    margin-top: -10px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 587px) {
  img {
    width: auto;
  }

  .res {
    margin-right: -30px;
    margin-left: 10px;
  }

  .res a {
    font-size: 12px;
  }
}
