

body{

  background-image: linear-gradient(rgba(0, 23, 25, 0.853), rgba(2, 0, 8, 0.7)), url('https://lh3.googleusercontent.com/pw/AM-JKLWqc6ki80rkQ_rawos6XCj5C_fn0Pdf0iExahLWRzCJpn15In_cscfswYVqs7Ufy4tNfUsGUeQ4o2u3OTmzyCPXltdeJsz2sku97AsQ9ckSUHfGH6T60U0RpRkVy9xrRjg3PPNoTzSxswQetHAkKnfL3Q=w1824-h912-no?authuser=0');
  background-position: left top;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}


.overpage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(245, 238, 238, 0.976);
  z-index: 1;
}

.spinner-grow {
  position: absolute;
  margin: 50vh 50% 50vh;
  z-index: 2;
}

