body {
  overflow-x: hidden;
}

.msg {
  margin-top: 300px;
}

.bt {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  i {
    font-size: 15px;
  }

  .col-4 {
    min-width: 500px !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 950px) and (min-width: 774px) {
  .col-4 {
    min-width: 400px !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 774px) and (min-width: 600px) {
  .col-4 {
    min-width: 310px !important;
    margin: 0 auto;
  }
}
