<div class="msg">
 <p class="text-center text-muted" *ngIf="!animais.length">
  Clique em "Nova Foto" e mostre seu animal ao mundo!
</p>
 <img class="" src="https://lh3.googleusercontent.com/pw/AM-JKLW9n6BVvbWNJVVA0xybZHuDbVoyQ7eKYWz4Jo7LAu2eM9M_FZezVbOp7uqKv7BAqwC9_IiHu4D7ibxYLu9rdQ_Vs5RRvey9u7U5415gyPwJUq75LJivpQIkrJhY2XkiCAkYmiHIYO7Ra9uMi0Xp0G_WoA=s90-no?authuser=0" alt="">
</div>

<div class="row">
  <div *ngFor="let animal of animais" class="col-4">
    <a [routerLink]="['/animais', animal.id]">
      <app-cartao>
        <app-animal class="im"
          [url]="animal.url"
          [descricao]="animal.description"
        ></app-animal>
        <div class="bt">
         <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2">{{
          animal.likes
        }}</i>
        <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2">
          {{ animal.comments }}
        </i>
        </div>
      </app-cartao>
    </a>
  </div>
</div>
