<body>
  <div class="msg" *ngIf="!animais.length">
    <p class="text-center text-muted">
      Clique em "Nova Foto" e mostre seu animal ao mundo!
    </p>
  </div>

  <div class="row">
    <div *ngFor="let animal of animais" class="col-4">
      <a [routerLink]="['/animais', animal.id]">
        <app-cartao>
          <app-animal
            class="img"
            [url]="animal.url"
            [descricao]="animal.description"
          ></app-animal>
          <div class="bt">
            <i aria-hidden="true" class="fa-solid fa-heart fa-1x mr-2 ml-2">{{
              animal.likes
            }}</i>
            <i aria-hidden="true" class="fa-solid fa-comment fa-1x mr-2 ml-2">
              {{ animal.comments }}
            </i>
          </div>
        </app-cartao>
      </a>
    </div>
  </div>
</body>
