<div class="content">
  <h4 class="text-center title">Login</h4>

  <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <input
        class="form-control input"
        placeholder="Nome do usuário"
        [(ngModel)]="usuario"
        name="usuario"
        #campoUsuario="ngModel"
        required
      />
      <app-mensagem
        *ngIf="campoUsuario.invalid && campoUsuario.touched"
        mensagem="Usuário obrigatório"
      ></app-mensagem>
    </div>

    <div class="form-group">
      <input
        type="password"
        class="form-control input"
        placeholder="Senha"
        [(ngModel)]="senha"
        name="senha"
        #campoSenha="ngModel"
        required
      />
      <app-mensagem
        *ngIf="campoSenha.invalid && campoSenha.touched"
        mensagem="Senha obrigatória"
      ></app-mensagem>
    </div>

    <button
      type="submit"
      class="btn btn-info btn-block"
      [disabled]="loginForm.invalid"
    >
      Entrar
    </button>
  </form>

  <p class="frase">
    Não é um usuário? <a [routerLink]="['novousuario']"> Se cadastre!</a>
  </p>
</div>

<footer class="mt-5">
  <div class="fixed-bottom bg-white p-1 fundo">
    <div class="rodape">
      Created By Gabriela Clemente
      <a href="https://www.linkedin.com/in/gabeclemente/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/gabrielajc" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>
</footer>
