@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: linear-gradient(rgba(210, 224, 255, 0.656) 20%, rgb(255, 255, 255) 50%), url('https://lh3.googleusercontent.com/pw/AM-JKLWqc6ki80rkQ_rawos6XCj5C_fn0Pdf0iExahLWRzCJpn15In_cscfswYVqs7Ufy4tNfUsGUeQ4o2u3OTmzyCPXltdeJsz2sku97AsQ9ckSUHfGH6T60U0RpRkVy9xrRjg3PPNoTzSxswQetHAkKnfL3Q=w1824-h912-no?authuser=0');
  background-position: left top;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
