.rodape i{
  display: inline-block;
  vertical-align: top;
  margin-right: 10%;
  margin-left: 15%;
  color: #5158ae;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: #000;
}

@media screen and (max-width: 1127px){
.rodape{
  text-align: center;
}

.rodape i{
  display:inline-block;
  vertical-align: top;
  margin-right: 5%;
  margin-left: 5%;

}
}
