<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <img
        class="img-fluid d-sm-block"
        src="https://lh3.googleusercontent.com/pw/AM-JKLXSfT8enIoqQvRr1h7o3cVrHLSKo0SQGg3W3xUL21htl0gQNijQWsm1xbTCXo-zWRsWU-yPAboLn1HrRyyb6CHlCRR2FnR7nfpsaxDaRm1EclhCEltMXKKHdkLSNXKiuNgQdkdoJAN6TPIoPorCwnXQow=w900-h800-no?authuser=0"
        alt="Imagem ilustrativa de dono e seu pet"
      />
      <h2 class="h2">Mostre seu animal ao mundo!</h2>
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
